
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgba(0, 0, 0, 0.5) url('Netflix1\ \(1\).jpeg');
    background-blend-mode: darken;
}

.logo{
    width: 10%;
}

.btn{
    padding: 7px 14px;
    color:white;
    background-color:red;
    display: inline-block;
    text-decoration: none;
    /*cursor: pointer;*/
}

.nav{
    padding-top: 5px;
    padding-left: 2vw;
    padding-right: 5vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select{
    margin-left: 70%;
    padding: 8px;
}

.content{
    color:white;
    position: absolute;
    margin-top: 10%;
    margin-left: 32%;
}

.content h1{
    font-size: 45px;
}

.content h2{
    font-size: 32px;
}

.mail{
    width: 100%;
    height: fit-content;
    align-items: center;
    background-color:white;
    display: flex;
    justify-content: space-between;
}

.mail input{
    outline: none;
    border: none;
    padding: 10px 10px;
    size: 1em;
}

.mail a{
    height: fit-content;
    background-color: #e50914;
    color: white;
    padding: 17px 10px;
    text-decoration: none;
}